.game-html {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    background: #000915;
    display: none;
}

.game-wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}

.game-description.intro {
    min-height: auto;
    max-height: 100%;
    padding-top: 0;
    background: #000915;
}

.game-description.intro-header {
    // max-width: 788px;
    max-width: none;
    line-height: 78px;
    font-weight: 600;
    font-size: 48px;
    font-style: normal;
}

.game-input, .game-output {
    width: 256px;
    height: 48px;
    background: #B293AD;
    border: none;
    border-radius: 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    color: #FFFFFF;

    padding-left: 24px;
    margin-top: 44px;
    margin-right: 22px;
}

.game-input::placeholder, .game-output::placeholder {
    color: #FFFFFF;
    opacity: .5;
}

.game-input:focus {
    outline: 4px solid #9C0332;
}

.game-result {
    display: none;
    font-size: 24px;
    text-align: left;

    padding-left: 24px;
    margin-top: 44px;
}

// Rock-Paper-Scissors
.rps-choice-wrapper {
    display: flex;
    gap: 24px;

    margin-top: 44px;
    margin-left: 24px;
}

.rps-text-versus {
    font-size: 36px;
    align-self: center;
    
    margin-right: 12px;
    margin-left: 12px;
}

.rps-choice-button {
    width: 64px;
    height: 64px;
    background: none;
    border: none;
    border-radius: 50%;
}

.rps-choice-button img {
    width: 100%;
    height: 100%;
}

.rps-choice-button:hover {
    cursor: url("../img/pointer_cursor.png"), auto;
    outline: 4px solid #9C0332;
}

.rps-choice-button.active {
    outline: 4px solid #9C0332;
}

.rps-choice-opponent {
    width: 64px;
    height: 64px;
}

// Riddles
.game-pane.riddles {
    display: none;
}

.riddle-text {
    max-width: 481px;
    line-height: 32px;
    font-weight: 200;
    font-size: 18px;
    font-style: normal;

    padding-top: 32px;
}

.riddles-button-pane {
    display: flex;
    gap: 24px;
}

#riddle-answer-button {
    display: none;
}

#riddle-answer-button:disabled {
    background: #303030;
}

.riddle-lifes {
    display: flex;
    gap: 12px;

    margin-top: 24px;
    // margin-left: 12px;
}

.riddle-lifes img {
    width: 32px;
    width: 32px;
}