.centered {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}

.intro {
  min-height: 1024px;
  padding-top: 217px;
  background-image: url("../img/intro_background.jpg");
  background-size: cover;
}

.intro-header {
  max-width: 788px;
  line-height: 78px;
  font-weight: 600;
  font-size: 64px;
  font-style: normal;
}

.intro-paragraph {
  max-width: 481px;
  line-height: 32px;
  font-weight: 200;
  font-size: 18px;
  font-style: normal;
  padding-top: 32px;
}

.basic-button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 44px;
}

.basic-button:hover {
  background: #EB443F;
  cursor: url("../img/pointer_cursor.png"), auto;
}

.game-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  background: #000915;
  padding-top: 128px;
  padding-bottom: 128px;
}

.game-card {
  min-width: 380px;
  width: 380px;
  min-height: 300px;
  height: 300px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 32px;
}

.game-card:hover {
  outline: 3px solid #44D2FF;
  cursor: url("../img/pointer_cursor.png"), auto;
}

.game-card:nth-child(1) {
  background-image: url("../img/game_1.jpg");
  background-size: cover;
}

.game-card:nth-child(2) {
  background-image: url("../img/game_2.jpg");
  background-size: cover;
}

.game-card:nth-child(3) {
  background-image: url("../img/game_3.jpg");
  background-size: cover;
}

.game-html {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100%;
  max-width: 100%;
  background: #000915;
  display: none;
}

.game-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  max-height: 100vh;
}

.game-description.intro {
  min-height: auto;
  max-height: 100%;
  padding-top: 0;
  background: #000915;
}

.game-description.intro-header {
  max-width: none;
  line-height: 78px;
  font-weight: 600;
  font-size: 48px;
  font-style: normal;
}

.game-input, .game-output {
  width: 256px;
  height: 48px;
  background: #B293AD;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #FFFFFF;
  padding-left: 24px;
  margin-top: 44px;
  margin-right: 22px;
}

.game-input::-webkit-input-placeholder, .game-output::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: .5;
}

.game-input:-ms-input-placeholder, .game-output:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: .5;
}

.game-input::-ms-input-placeholder, .game-output::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: .5;
}

.game-input::placeholder, .game-output::placeholder {
  color: #FFFFFF;
  opacity: .5;
}

.game-input:focus {
  outline: 4px solid #9C0332;
}

.game-result {
  display: none;
  font-size: 24px;
  text-align: left;
  padding-left: 24px;
  margin-top: 44px;
}

.rps-choice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-top: 44px;
  margin-left: 24px;
}

.rps-text-versus {
  font-size: 36px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 12px;
  margin-left: 12px;
}

.rps-choice-button {
  width: 64px;
  height: 64px;
  background: none;
  border: none;
  border-radius: 50%;
}

.rps-choice-button img {
  width: 100%;
  height: 100%;
}

.rps-choice-button:hover {
  cursor: url("../img/pointer_cursor.png"), auto;
  outline: 4px solid #9C0332;
}

.rps-choice-button.active {
  outline: 4px solid #9C0332;
}

.rps-choice-opponent {
  width: 64px;
  height: 64px;
}

.game-pane.riddles {
  display: none;
}

.riddle-text {
  max-width: 481px;
  line-height: 32px;
  font-weight: 200;
  font-size: 18px;
  font-style: normal;
  padding-top: 32px;
}

.riddles-button-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

#riddle-answer-button {
  display: none;
}

#riddle-answer-button:disabled {
  background: #303030;
}

.riddle-lifes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.riddle-lifes img {
  width: 32px;
  width: 32px;
}
/*# sourceMappingURL=style.css.map */